li {
	background-color: yellow;
	font-size: 20px;
}
li em{
	font-weight: bold;
}

ol > :nth-child(even) {
	background-color: green;
}
ol > :nth-child(odd) {
	text-transform: lowercase;
}

h1,h2,h3{
	color: red;
}

body em{
	font-size: 40px;
	border: 1px solid black;
}